*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#DEDEDE,#D48A88);

}
h1{
    background-color: #d12c2a;
}
.logoHorizontal {
height: 30px;
position: absolute;
top: 0%;
left: 0%;

}
.menuPrincipal  {
    list-style: none;
    text-align: right;  
    margin-bottom: 15px;
}
li{
    display: inline; 
    padding-right: 20px;
}



.videoGuarderia {
    height: 300px;
    width: 600px;
    justify-content: center;
}

/* Pagina Principal */
.mainHome{
    display: flex;
    gap: 200px;
}

.col h2 {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    }

.mainIcon {
    width: 150px;
    justify-content: center;

}


/* Pagina Vehiculos*/

.card-img-top {
    width: 10rem;
}

.card {
    background-color: #DEDEDE;
}




/* Pie de Pagina*/
footer {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    
}
.map {
    height: 200px;
    width: 600px;
    margin: 10px;
    
}
.redSocial {
    text-align: center;
}
.redIcon {
    width: 80px;
    height: 80px;
    padding: 3px;
    margin-top: 50px;
    margin-right: 25px;
    
}
/* Pagina Gestoria*/ 
.card-text {
    color: black;
    font-size: 25px;
    
}
.card-title{
    font-size: 45px;
}

