$titulo-size: 45px;

body {
    background: linear-gradient( white,rgb(250, 57, 57) , white);
    font-family: 'Roboto', sans-serif;
    .h1{
        background-color: #d12c2a;
    }
}
.nav {
    list-style: none;
    text-align: right;  
    margin-bottom: 50px;
    margin-top: 15px;

    .nav-link {
        color: #d12c2a;
        
    
        li{
            display: inline; 
            padding-right: 20px;
        }
    
    }
}

.redSocial {
    text-align: center;

    .redIcon {
        width: 80px;
        height: 80px;
        padding: 3px;
        margin-top: 50px;
        margin-right: 25px;
    }
    
    .map {
        height: 200px;
        width: 600px;
        justify-content: center;
       
        @media screen and (max-width: 576px) {
                width: 100%;
        }
        
        @media screen and (max-width: 992px) {
                width: 100%;
        }
    }

}

.logoHorizontal {
    display: flex;
    height: 40px;
    position: absolute;
    top: 1%;
    left: 0%;
}


.card-img-overlay {
    overflow: hidden;
    
    .card-title{
        @extend %card-title
    }
    @include color-tarjeta()

}

@mixin color-tarjeta {
    background-color:#D48A88 ;
}

%card-title {
    font-size: $titulo-size ;
}


